h1
{
    text-align: center ;
}
h1
{
    border: 3px white double;
}
h1
{
box-shadow: 6px 6px 0px white;
}
h2
{
    color: red;
}
h2
{
    border: 3px white double;
}
body
{
    background-image: url("image/Background_im.jpg");
}
body
{
    color: antiquewhite;
}
a
{
    color: white;
}
a:hover /* Apparence au survol des liens */
{
   font-weight: bold;
   color: rgb(204, 50, 63);
}
