h1
{
    text-align: center ;
}
h1
{
    border: 3px white double;
}
h1
{
box-shadow: 6px 6px 0px white;
}
h2
{
    color: red;
}
h2
{
    border: 3px white double;
}
body
{
    background-image: url("image/Background_im.jpg");
    
}
body
{
    color: white;
}
a
{
    color: white;
}
a:hover /* Apparence au survol des liens */
{
   font-weight: bold;
   color: rgb(204, 50, 63);
}

#Erfahrungen
{
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
}
.element
{
    text-align: justify;
    margin: 10px;
}

header
{
    text-align: center ;
}
#imgliseré, #contenu_du_cv
{
    display: inline-block;
    vertical-align: top;
}
#imgliseré
{    
    float:left;
    width: 20%;
}
#contenue_du_cv
{
   margin-left:20%;
}